<df-messenger intent="WELCOME" chat-title="HR Prediction agent" agent-id="8d6f88a0-cae0-4c65-a8ac-a037b0ba64df"
  language-code="en"></df-messenger>




<br/>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-4 content-center">
      <div class="form-group">
        <label>please upload profile image from here</label>
        <input #imageInput name='logoImage' (change)="onFileChange($event)" type="file" accept="image/*">
        <br /><br />
        <div class="center-page">
          <img class="image_layer" src='{{image}}'>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-4 content-center">
      <button type="button" class="btn btn-success" (click)="submitProfile()">Submit</button>
    </div>
  </div>
  <br/><br/>
  <div class="row justify-content-center">
    <div class="col-sm-4" *ngFor="let sim of similer_components">
      <div class="card">
        <img class="card-img-top" [src]="base_url + sim['user_data']['image_path']['S']" alt="Card image cap" onerror="if (this.src != 'https:\/\/www.pikpng.com/pngl/m/80-805068_my-profile-icon-blank-profile-picture-circle-clipart.png') this.src = 'https:\/\/www.pikpng.com/pngl/m/80-805068_my-profile-icon-blank-profile-picture-circle-clipart.png';">
        <div class="card-body">
          <h5 class="card-title"><b>Name :</b> {{sim['user_data']['first_name']['S']}} {{sim['user_data']['last_name']['S']}}</h5>
          <h5 class="card-title"><b>Location :</b> {{sim['user_data']['location']['S']}} </h5>
          <p class="card-text">Similerity: {{sim['similarity'][0]['Similarity']}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="message">
    <div class="col-sm-12 content-center">
      <p class="color-w">{{message}}</p>
    </div>
  </div>
</div>

<br/><br/>