<h1 mat-dialog-title>Confirm action</h1>
<div mat-dialog-content>Are you sure to want remove this item ?</div>
<div mat-dialog-actions class="mt-15">
  <button mat-raised-button color="primary" 
  [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
  <button mat-raised-button mat-dialog-close>No</button>
</div>