<mat-sidenav-container class="sidenav-container" style = "min-height: 620px;">
  <!-- <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"> -->
      <!-- <img src="assets/img/logo.png" width="90" height="60"> -->
    <!-- <mat-toolbar> </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item *ngIf="user" routerLink="/books" routerLinkActive="active">Books</a> -->
      <!-- <a mat-list-item [routerLink]="['/temperatures','Paris']" routerLinkActive="active">Temperatures</a>
      <a mat-list-item [routerLink]="['/classify','BBC']" routerLinkActive="active">Classify</a> -->
      <!-- <a mat-list-item *ngIf="user" [routerLink]="['/result','answer']" routerLinkActive="active">Result</a>
      <a mat-list-item *ngIf="user" routerLink="/account" routerLinkActive="active">Acccounts</a>
      <a mat-list-item *ngIf="user" routerLink="/dash" routerLinkActive="active">Dashboard</a> -->
      <!-- <a mat-list-item routerLink="/posts">Posts</a> -->
      <!-- <a mat-list-item *ngIf="user" routerLink="/form">Form</a>
    </mat-nav-list>
  </mat-sidenav> -->
  <mat-sidenav-content>
    
    <mat-toolbar color="primary" style="height: 90px;">
      <img src="assets/img/logo.png" width="130" height="130">
      <!-- <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"> -->
        <!-- *ngIf="isHandset$ | async"> -->
        <!-- <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> -->
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class = "link" style = "color:rgb(150, 150, 150);font-size: 17px;" routerLink = "/home" *ngIf = "(authService.getUser()|async)">Home</a>&nbsp;&nbsp;
        </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class = "link" style = "color:rgb(150, 150, 150); font-size: 17px;"  routerLink = "/dash" *ngIf = "(authService.getUser()|async)">My company</a>&nbsp;&nbsp;
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class = "link" style = "color:rgb(150, 150, 150);font-size: 17px;" routerLink = "/information" *ngIf = "(authService.getUser()|async)">Information</a>&nbsp;&nbsp;
        </span>
    
    
      <span class = "spacer"></span>
      <!-- <a class = "link" style = "color:rgb(150, 150, 150); font-size: 22px;" routerLink = "/signup" *ngIf = "!(authService.getUser()|async)">Signup</a>&nbsp;&nbsp; -->
      <a class = "link" style = "color:rgb(150, 150, 150); font-size: 22px;" routerLink = "/login" *ngIf = "!(authService.getUser()|async)">Login</a>&nbsp;&nbsp;
      <a class = "link1" style = "color:rgb(150, 150, 150); font-size: 22px;" (click) = "logout()" *ngIf = "(authService.getUser()|async)">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a mat-raised-button *ngIf = "(authService.getUser()|async)"
      class = "button" routerLink="/form" style = "text-align: center;font-size:15px ; line-height: 55px;background-color: #53a7a8;border-radius: 24px;width: 350px;color:white;height: 60px;">
     Check now!</a>
     <a mat-raised-button *ngIf = "!(authService.getUser()|async)"
      class = "button" routerLink="/signup" style = "text-align: center;font-size:15px ; line-height: 55px;background-color: #53a7a8;border-radius: 24px;width: 290px;color:white;height: 60px;">
     register now!</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet ></router-outlet>
    
  </mat-sidenav-content>


</mat-sidenav-container>
