
<mat-form-field>
    <mat-label><mat-icon>search</mat-icon>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search by Email, Customer, Date" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
      
      
      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email <mat-icon>sort</mat-icon></th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>
  
      <!-- customer Column -->
      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer<mat-icon>sort</mat-icon> </th>
        <td mat-cell *matCellDef="let row"> {{row.customer}} </td>
      </ng-container>
  
      <!-- date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date<mat-icon>sort</mat-icon> </th>
        <td mat-cell *matCellDef="let row"> {{row.date}} </td>
      </ng-container>
  
      <!-- hour Column -->
      <ng-container matColumnDef="hour">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hour<mat-icon>sort</mat-icon> </th>
        <td mat-cell *matCellDef="let row"> {{row.hour}} </td>
      </ng-container>

      <!-- price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price<mat-icon>sort</mat-icon> </th>
        <td mat-cell *matCellDef="let row"> {{row.price | number :'1.0-0'}}$ </td>
      </ng-container>

      <!-- down Column -->
      <ng-container matColumnDef="down">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let row"><mat-icon>keyboard_arrow_down</mat-icon></td>
      </ng-container>
      

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail"
              [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="example-element-diagram">
                  <img src="{{element.image}}" style="width: 82px; height: 82px;">
              </div>
            <div class="example-element-description">
              <p>The shape of the diamond is {{element.shape}}.</p>
              <p>The clarity of the diamond is {{element.clarity}}.</p>
              <p>The color of the diamond is {{element.color}}.</p>
              <p>The carat weight of the diamond is {{element.weight}} carat.</p>
              <a mat-raised-button href="{{element.details}}" target="_blank">More Details</a>
            </div>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
