
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap" >
  <form [formGroup]="employeeForm" style = "max-height: 700px; max-width: 1200px;" >
	<!-- Card column -->
	<div fxFlex.gt-sm="50%" fxFlex="50">
		<mat-card >
			<mat-card-content>
				<!-- <mat-card-title>Stepper variants <span class="bg-success text-white rounded font-12 pl-5 pr-5">New</span></mat-card-title>
				<mat-card-subtitle>There are two stepper components: <code>mat-horizontal-stepper</code> and <code>mat-vertical-stepper</code>. They can be used the same way. The only difference is the orientation of stepper.</mat-card-subtitle>
 -->
				<!-- <button mat-raised-button (click)="isLinearvarient = !isLinearvarient" id="toggle-linear">
				  {{!isLinearvarient ? 'Enable linear mode' : 'Disable linear mode'}}
				</button>[linear]="isLinearvarient" -->
				<mat-horizontal-stepper  #steppervarient class="m-t-20" >
				  <mat-step [stepControl]="varientfirstFormGroup">
				    <form [formGroup]="varientfirstFormGroup" style= "max-width: 300px;">
                  <ng-template matStepLabel>Fill out your name</ng-template>
                  <mat-form-field appearance="standard" >
                    First Name:
                    <input matInput   type="text" 
                      [(ngModel)] = "firstName"
                      [ngModelOptions]="{standalone: true}"
                      name = "firstName"
                      placeholder="Employee's first name"
                      
                      required>
                  </mat-form-field>
                  <mat-form-field appearance="standard" >
                    Last Name:
                  <input matInput   type="text" 
                    [(ngModel)] = "lastName"
                    [ngModelOptions]="{standalone: true}"
                    placeholder="Employee's Last name"
                    name = "lastName"
                    required>
                </mat-form-field>
                <p appearance="standard" >Gender:</p>
                <mat-radio-group
                      aria-labelledby="example-radio-group-label"
                      class="example-radio-group"
                      [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="gender"  name = "gender">
                  <mat-radio-button class="example-radio-button" *ngFor="let gender of genders" [value]="gender"> &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 
                    <p style="font-weight: 100;
                    font-size: 21px;">{{gender}}&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;   </p> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  </mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp; 
                  </mat-radio-group>
                  <mat-form-field appearance="standard">
                    Employee age:
                    <input matInput  type="number"
                      [(ngModel)] = "age"
                      [ngModelOptions]="{standalone: true}"
                      placeholder="Employee's Age"
                      name = "age"
                      required>
                      <div *ngIf = "isValid">
                        years of age is cant be under 0!
                    </div>
                  </mat-form-field>
                  <div class="button-row">
                    <button mat-raised-button color="accent" style="margin-top: 25px;" matStepperNext >Next</button>
                  </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="varientsecondFormGroup" >
				    <form [formGroup]="varientsecondFormGroup" style= "max-width: 300px;">
				      <ng-template matStepLabel>Address</ng-template>

              <h3>Address</h3>
  

               <mat-form-field appearance="standard">
                 Street:
                 <input matInput  type="text" 
                   [(ngModel)] = "street"
                   [ngModelOptions]="{standalone: true}"
                   name = "street "
                   placeholder="Including house number"
                   required>
               </mat-form-field>
               <mat-form-field appearance="standard">
                City:
                <input matInput  type="text" 
                  placeholder="Example: Jerusalem"
                  [(ngModel)] = "city"
                  [ngModelOptions]="{standalone: true}"
                  name = "city"
                  required>
              </mat-form-field>

              <mat-form-field appearance="standard">
                State:
                <input matInput  type="text" 
                placeholder="Example: Canada"
                  [(ngModel)] = "state"
                  [ngModelOptions]="{standalone: true}"
                  name = "state"
                  required>
              </mat-form-field>
               <div class="button-row">
				        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
				        <button mat-raised-button color="accent" matStepperNext>Next</button>
				      </div>
              </form>
            </mat-step>
          <mat-step [stepControl]="varientthirdFormGroup" >
            <form [formGroup]="varientthirdFormGroup" style= "max-width: 500px;">
				      <ng-template matStepLabel>Experince and Education</ng-template>
              <h3>Professional Information</h3>
              <br>
              <br>
                    <p>
                      Employee's  Relavent experience (To current position work):
                    <mat-radio-group
                      aria-labelledby="example-radio-group-label"
                      class="example-radio-group"
                      [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="rExperience" name = "rExperience">
                    <mat-radio-button class="example-radio-button" *ngFor="let rExperience of rExperiences" [value]="rExperience">
                     <p> {{rExperience}}  </p>
                    </mat-radio-button>
                    </mat-radio-group>
                </p> 

                <br>
                <br>
                <p>
                  Employee's education Level: &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-radio-group
                      aria-labelledby="example-radio-group-label"
                      class="example-radio-group"
                      [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="educationLevel" name = "educationLevel">
                    <mat-radio-button class="example-radio-button" *ngFor="let education of Educations" [value]="education">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;
                     <p> {{education}} &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp; </p>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;
                    </mat-radio-button>
                    </mat-radio-group>
                </p>
                <br>
                <br>
                <p>
                  What part of enrollment did the employee took:&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-radio-group
                      aria-labelledby="example-radio-group-label"
                      class="example-radio-group"
                      [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="enrollment"  name = "enrollment">
                    <mat-radio-button class="example-radio-button" *ngFor="let enrollment of enrollments" [value]="enrollment">
                     <p> {{enrollment}}</p>
                    </mat-radio-button>
                    </mat-radio-group>
                </p>
                <br>
                <br>
               
            
              <div class="button-row">
				        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
				        <button mat-raised-button color="accent" matStepperNext>Next</button>
				      </div>
				    </form>
				  </mat-step>
				  <mat-step [stepControl]="varientfortyFormGroup">
				    <form [formGroup]="varientfortyFormGroup"  style= "max-width: 300px;">
              <ng-template matStepLabel>Major Dicipline and Company</ng-template>
              <mat-form-field appearance="fill">
                Major dicipline
                <mat-select [(ngModel)]="majorDiscipline"  [ngModelOptions]="{standalone: true}"
                name = "majorDiscipline"  [(value)]="majorDiscipline" >
                  <mat-option>None</mat-option>
                  <mat-option value="5">STEM</mat-option>
                  <mat-option value="4">Humanities</mat-option>
                  <mat-option value="3">Business Degree</mat-option>
                  <mat-option value="2">Other</mat-option>
                  <mat-option value="1">No Major</mat-option>
                  <mat-option value="0">Arts</mat-option>
                </mat-select>
              </mat-form-field>
      
              <mat-form-field appearance="fill">
                Company type
                <mat-select [(ngModel)]="companytype" name = "companytype" 
                [ngModelOptions]="{standalone: true}"
                [(value)]="companytype" >
                  <mat-option>None</mat-option>
                  <mat-option value="5">Pvt Ltd</mat-option>
                  <mat-option value="4">Funded Startup</mat-option>
                  <mat-option value="3">Public Sector</mat-option>
                  <mat-option value="2">Early Stage Startup</mat-option>
                  <mat-option value="1">NGO</mat-option>
                  <mat-option value="0">Other</mat-option>
                </mat-select>
              </mat-form-field>
              <br>
              <br>
                <div class="button-row">
                  <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                  <button mat-raised-button color="accent" matStepperNext>Next</button>
                </div>
  </form>
</mat-step>
<mat-step [stepControl]="varientfiveFormGroup" >
  <form [formGroup]="varientfiveFormGroup" style= "max-width: 300px;">
    <ng-template matStepLabel>Years Experience and Size your company</ng-template>
    <p>
      <mat-form-field appearance="standard">
        Years of Experience:
        <input matInput  type="number" 
          [(ngModel)] = "experienceYears"
          [ngModelOptions]="{standalone: true}"
          name = "experienceYears"
          required>
      </mat-form-field>
    </p> 

    <p>
      <mat-form-field appearance="standard">
        Size of yours company:
        <input matInput  type="number" 
          [(ngModel)] = "companySize"
          [ngModelOptions]="{standalone: true}"
          name = "companySize"
          required>
      </mat-form-field>
    </p> 
    <br>
    <br>
        <div class="button-row">
          <button mat-raised-button color="primary" matStepperPrevious>Back</button>
          <button mat-raised-button color="accent" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="varientfiveFormGroup">
      <form [formGroup]="varientfiveFormGroup"  style= "max-width: 300px;">
        <ng-template matStepLabel>Final details</ng-template>
        <p>
          <mat-form-field appearance="standard">
            Years in current position:
            <input matInput  type="number" 
              [(ngModel)] = "yearsInCurrentJob"
              [ngModelOptions]="{standalone: true}"
              name = "yearsInCurrentJob"
              required>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard">
            Education years:
            <input matInput  type="number"
              [(ngModel)] = "educationYears"
              [ngModelOptions]="{standalone: true}"
              name = "educationYears"
              required>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard">
            Training hours in current position:
            <input matInput  type="number"
              [(ngModel)] = "trainingHours"
              [ngModelOptions]="{standalone: true}"
              name = "trainingHours"
              required>
          </mat-form-field>
        </p>
        <br>
        <br>
				      <div class="button-row">
				        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
				        <button mat-raised-button color="accent" matStepperNext>Next</button>
				      </div>
				    </form>
				  </mat-step>
				  <mat-step>
            <ng-template matStepLabel>Image</ng-template>
            <br>
            Employee Image
            <input type="file" accept=".jpg,.png"  (change)="uploadImage($event)">
            <br>
            <br>
				    <div class="button-row">
				      <button mat-raised-button color="grey" matStepperPrevious>Back</button>
				      <button mat-raised-button color="primary" (click)="submit()">Classify Employee</button>
            </div>
            <div class="alert alert-success" *ngIf="message">{{message}}</div>
				  </mat-step>
				</mat-horizontal-stepper>
			</mat-card-content>
		</mat-card>    
	</div>
</form>
</div>







 
  

  
  
  <!-- 
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at https://angular.io/license
  -->