<!-- 
<mat-card mat-dialog-content  >
  <h1 style="text-align: center;">SignUp</h1>
    <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label style="padding-left: 14px;">Email</mat-label>
              <input matInput placeholder="example: you@you.com"
                [(ngModel)] = "email"
                name = "email"
                style="padding-left: 14px;"
                required>
              <mat-hint style="padding-left: 14px;">The one you really read</mat-hint>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label style="padding-left: 14px;">Company Type- Orel</mat-label>
              <input matInput placeholder="other"
                [(ngModel)] = "companySize"
                name = "companySize"
                style="padding-left: 14px;"
                required>
              <mat-hint style="padding-left: 14px;">- Orel</mat-hint>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label style="padding-left: 14px;">CompanyType - Orel</mat-label>
              <input matInput placeholder="example: you@you.com"
                [(ngModel)] = "companyType"
                style="padding-left: 14px;"
                name = "companyType"
                required>
              <mat-hint style="padding-left: 14px;">- Orel</mat-hint>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label style="padding-left: 14px;">Password</mat-label>
              <input matInput placeholder="example: 42343@@##aZ"
                [(ngModel)] = "password" 
                name = "password" 
                style="padding-left: 14px;"
                type = "password"
                required>
              <mat-hint style="padding-left: 14px;">8 chracters or more</mat-hint>
            </mat-form-field>
          </p>                                       
        <div >
          <div class="d-flex justify-content-center">
            
            <button mat-raised-button color="primary" 
            [disabled]="!signupForm.form.valid">
             Sign Up
           </button>
          </div>
            
        </div>
        <p *ngIf = "isError">{{errorMessage}}</p>
      </div>
    </form>
   </mat-card>

 -->
 <div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(assets/login/images/bg-01.jpg);">
        <span class="login100-form-title-1">
          Sign up
        </span>
      </div>

      <form class="login100-form validate-form" #signupForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
          <span class="label-input100">Email</span>
          <input class="input100" type="email" required [(ngModel)]="email" name="email" required placeholder="Enter email">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
          <span class="label-input100">Password</span>
          <input class="input100" type="password" [(ngModel)]="password" name="password" required placeholder="Enter password">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
          <span class="label-input100">Company Name</span>
          <input class="input100" type="text" name="companyName" [(ngModel)]="companyName" required placeholder="Enter company name">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
          <span class="label-input100">Company Type</span>
          <select name="companyType" [(ngModel)]="companyType" required>
            <option selected>None</option>
            <option value="5">Pvt Ltd</option>
            <option value="4">Funded Startup</option>
            <option value="3">Public Sector</option>
            <option value="2">Early Stage Startup</option>
            <option value="1">NGO</option>
            <option value="0">Other</option>

          </select>
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
          <span class="label-input100">Company Size</span>
          <input class="input100" type="number" [(ngModel)] = "companySize"
          name = "companySize" required placeholder="Enter company size">
          <span class="focus-input100"></span>
        </div>

        <!-- <div class="flex-sb-m w-full p-b-30">
          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
              Remember me
            </label>
          </div>

          <div>
            <a href="#" class="txt1">
              Forgot Password?
            </a>
          </div>
        </div> -->
        <div class="alert alert-danger" *ngIf = "isError">{{errorMessage}}</div>
        <div class="container-login100-form-btn">
          
          <button class="login100-form-btn" [disabled]="!signupForm.form.valid">
            Sign up
          </button>
        </div>
      </form>
    </div>
  </div>
</div>