<br>
<br>
<br>
<br>
<br>
<br>
<div class="bye" style="color:white">
    <ng-template *ngIf = "(authService.user | async)?.uid, else other">
        <h1> Welcome to Orelmz Test :) </h1> <br><html>{{email}}</html>
        <p >You Logged In Successfully</p>
    </ng-template>
        <div #other>
            <h1>" What an amazing opportunity to know and understand <br /> the feelings of your team "</h1>
            <br />
        <b><h3>Fill out the analysis form for your employee and get &nbsp;" quickly and clearly " &nbsp;the chances of the employee leaving.</h3></b> 
        </div>
        <br />
        
        <br>
        <a mat-raised-button *ngIf = "(authService.getUser()|async)"
        class = "button" routerLink="/form" style = "text-align: center;font-size:20px ; line-height: 55px;background-color: #53a7a8;border-radius: 24px;width: 350px;color:white;height: 60px;">
       Check now &nbsp; <i class="fa fa-arrow-right"></i></a>
       <a mat-raised-button *ngIf = "!(authService.getUser()|async)"
        class = "button" routerLink="/signup" style = "text-align: center;font-size:15px ; line-height: 55px;background-color: #53a7a8;border-radius: 24px;width: 290px;color:white;height: 60px;">
       register now!<i class="fa fa-arrow-right"></i> </a>

</div>
<br>


<!-- Content -->
<div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

  
    <!-- Slideshow -->
    <div class="w3-container" >
      <div class="w3-display-container mySlides">
        <img src="assets/img/background_home.jpg" style="width:100%">
        <div class="w3-display-topleft w3-container w3-padding-32">
          <!-- <span class="w3-white w3-padding-large w3-animate-bottom">Lorem ipsum</span> -->
        </div>
      </div>
      
  
      <!-- Slideshow next/previous buttons w3-dark-grey -->
      <div class="w3-container  w3-padding w3-xlarge" style = "background-color: whitesmoke;" >
        <!-- <div class="w3-left" onclick="plusDivs(-1)" style = "color: grey;"><i class="fa fa-arrow-circle-left w3-hover-text-teal"></i></div>
        <div class="w3-right" onclick="plusDivs(1)" style = "color: grey;"><i class="fa fa-arrow-circle-right w3-hover-text-teal"></i></div>
       -->
        <!-- <div class="w3-center">
          <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
          <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
          <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
        </div> -->
      </div>
    </div>
    
    <!-- Grid -->
    <div class="w3-row w3-container">
      <div class="w3-center w3-padding-64">
        <span class="w3-xlarge w3-bottombar  w3-padding-16" style = "color: whitesmoke;">What We Offer</span>
      </div>
      <div class="w3-col l3 m6 w3-white w3-container w3-padding-16">
        <h4>One of the biggest problems</h4>
        <p> that exists in the labor market, the expansion of companies, is the frequent departure of employees and the loss of sources of knowledge the. Although there are many ways to retain employees , most involve many costs .</p>
      </div>
  
      <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
        <h4>Human resources manager</h4>
        <p> would like to have the tool that will allow him to analyze the degree of employees' weeks of desire, which employees want to leave and how "strong" the desire to leave Therefore, he cannot use this tool to analyze job </p>
      </div>
  
      <div class="w3-col l3 m6 w3-white w3-container w3-padding-16">
        <h4>In your company</h4>
        <p>order to rate their level of suitability also in terms of the expected stay in the organization The human resources manager, after entering a few details of information can see of all the employees in your company.</p>
      </div>
  
      <div class="w3-col l3 m6 w3-grey w3-light-grey w3-container w3-padding-16">
        <h4>The access</h4>
        <p>&nbsp;A system that heralds machine learning ,the system is done in a convenient and up-to-date manner, in accordance with the director of the human resources departments and their requirements...</p>
        <br />

      </div>
    </div>
  
  
    <!-- Grid -->
    <div class="w3-row-padding" id="about">
      <div class="w3-center w3-padding-64">
        <span class="w3-xlarge w3-bottombar  w3-padding-16" style = "color: whitesmoke;">Customers Recommend</span>
      </div>
  
      <div class="w3-third w3-margin-bottom"   >
        <div class="w3-card-4" style = "background-color: whitesmoke;">
          <img src="https://www.w3schools.com/w3images/team1.jpg" alt="John" style="width:100%">
          <div class="w3-container">
            <h3>Jane Doe</h3>
            <p class="w3-opacity">CEO & Founder</p>
            <p>...I would not have been able to get all my employees a better experience without this very convenient and affordable option. Thank you for a great service!...</p>
            <!-- <p><button class="w3-button w3-block"  style = "background-color: rgb(40, 171, 142);">Contact</button></p> -->
          </div>
        </div>
      </div>
  
      <div class="w3-third w3-margin-bottom">
        <div class="w3-card-4" style = "background-color: whitesmoke;">
          <img src="https://www.w3schools.com/w3images/team2.jpg" alt="Mike" style="width:100%">
          <div class="w3-container">
            <h3>Mike Ross</h3>
            <p class="w3-opacity">Human resources management  </p>
            <p>…Your services and resource offerings which are low or no cost have vastly improved my knowledge in the HR world and have made it possible for me to learn and be better…</p>

            <!-- <p><button class="w3-button w3-block" style = "background-color: rgb(40, 171, 142);">Contact</button></p> -->
          </div>
        </div>
      </div>
  
      <div class="w3-third w3-margin-bottom">
        <div class="w3-card-4" style = "background-color: whitesmoke;">
          <img src="https://www.w3schools.com/w3images/team3.jpg" alt="Jane" style="width:100%">
          <div class="w3-container">
            <h3>John Doe</h3>
            <p class="w3-opacity">Designer</p>
            <p>...the team really provided me a different perspective that allows a person to see a topic from a new and fresh angle so that it can be reflected. thank you!...</p>

            <!-- <p><button class="w3-button w3-block"  style = "background-color: rgb(40, 171, 142);">Contact</button></p> -->
          </div>
        </div>
      </div>
    </div>
  
    <!-- Contact -->
    <div class="w3-center w3-padding-64" id="contact">
      <span class="w3-xlarge w3-bottombar  w3-padding-16" style = "color: whitesmoke;">Contact Us</span>
    </div>
  
    <form class="w3-container" #signinForm="ngForm" (ngSubmit)="sendcontact()" style="background-color:white; border-radius:7px;">
      <div class="w3-section">
        <label>Name</label>
        <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" [(ngModel)]="datacontact.name" name="name" required>
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" [(ngModel)]="datacontact.email" type="text" name="email" required>
      </div>
      <div class="w3-section">
        <label>Subject</label>
        <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" [(ngModel)]="datacontact.subject" name="subject" required>
      </div>
      <div class="w3-section">
        <label>Message</label>
        <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" [(ngModel)]="datacontact.message" name="message" required>
      </div>
      <div class="alert alert-success" *ngIf="messagesuccess">{{messagesuccess}}</div>
      <button type="submit" class="w3-button" style="margin-bottom: 20px; background-color: rgb(60, 146, 142);;">Send</button>
    </form>
    <br>
    <br>
    <div id="map"></div>

    <!-- <div style="background: white;">
      <ng-container *ngFor="let message of messages | async">
        <div class="message" [ngClass]="{ 'from':message.sendBy==='bot',
                                          'to':message.sendBy==='user'}">

        {{message.content}}
        </div>

    </ng-container>
    </div>
  

    <label for="nameField">Your Message</label>
    <input [(ngModel)]="formValue" (keyup.enter)="sendMessage" type="text">
    <button (click)="sendMessage()">Send</button> -->
    <!-- <chat-dialog></chat-dialog> -->
    <df-messenger
    intent="WELCOME"
    chat-title="HR Prediction"
    agent-id="8d6f88a0-cae0-4c65-a8ac-a037b0ba64df"
    language-code="en"
  ></df-messenger>
  

  </div>
  