<p *ngIf = "!(authService.getUser()| async)">Your are not logged in</p>
<!-- <div>
  <button mat-raised-button
  color = "primary"
  (click) = "addBookFormOPen = !addBookFormOPen"
>
Add Employee
</button>      
</div> -->

<div>
    <employeeForm *ngIf = "addBookFormOPen"
      (update) = "add($event)"
      (closeEdit) = "addBookFormOPen = false"
      [formType] = "'Add book'">    
    </employeeForm>
  </div>

<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-lg="66" fxFlex.gt-md="66" fxFlex.gt-xs="100" fxFlex="100">
      <br>
      <br>
      <br>
        <div class="container">
          <app-employee-table></app-employee-table>
        </div>
        <!-- <app-sales-overview-grap></app-sales-overview-grap> -->

          <button mat-mini-fab color="accent" class="add-contact" 
          (click) = "addBookFormOPen = !addBookFormOPen">+</button>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <!-- <chat-dialog></chat-dialog> -->
        <!-- <app-visiter-graph></app-visiter-graph> -->
        
    </div>
    <!-- column -->
</div>

       

  